
ADDR=:8080

# LINK_DOMAIN=example.link
# LINK_ADDR=:8081

DB_DRIVER=''
# MySQL database URL. parseTime=true is required.
DATABASE_URL='mysql://USER:PASSWORD@127.0.0.1:3306/DATABASE?parseTime=true'

# SQLite alternative:
# DATABASE_URL='sqlite://golink.db?_pragma=foreign_keys(1)'
